<!doctype html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Hello</title>
</head>

<body>
    <section style="border: 0px none; padding: 0px; position: relative;">
    <section style="padding:10px 10px;">
        <section style="font-size:26px; color:#00b0bb; font-weight:bold; text-align:center;">
            极简标题
        </section>
        <section style="text-align:center;line-height: 8px;">
            <section style="display:inline-block; border-top:solid 4px #00b0bb; width:150px;"></section>
            <section style="display:inline-block; border-top:solid 4px #444; width:150px; margin-left:10px;"></section>
        </section>
    </section>
</section>
<p>
    <br/>
</p>
<section style="width:100%; border: 0px none; padding: 0px; position: relative; padding-bottom:10px;">
    <section style="height:auto; overflow:hidden; border:solid 10px #eff1f2; padding-bottom:20px;" data-width="100%">
        <section style="width:100%;" data-width="100%">
            <img style="width:100%; display:block;" src="http://www.modelclub.cn/assets/img/pro/index/post/6/1468.jpg" data-width="100%" />
        </section>
        <section style="width:100%; height:50px; text-align:center; margin-top:20px;" data-width="100%">
            <section style="width:80px; height:30px; border:solid 2px #1fb57b; display:inline-block; border-radius:15px; font-size:22px; color:#1fb57b; line-height:27px; font-weight:bold;">
                0<span data-original-title="" title="">1</span>
            </section>
        </section>
        <p style="font-size:1.1rem; color:#333333; text-align:center;">
            你用iPhone了吗?
        </p>
        <section style="text-align:center; font-size:0.8rem; color:#333; margin-top:20px;">
            <p>
                虽然长期以来，
            </p>
            <p>
                苹果似乎一直和游戏机市场不搭边，
            </p>
            <p>
                但iPod和iPhone的出现却改变了这种局面。
            </p>
        </section>
    </section>
</section>
<!-- <p>
        <br/>
    </p> -->
<section style="width:100%; border: 0px none; padding: 0px; position: relative; padding-bottom:10px;">
    <section style="height:auto; overflow:hidden; border:solid 10px #eff1f2; padding-bottom:20px;" data-width="100%">
        <section style="width:100%;" data-width="100%">
            <img style="width:100%; display:block;" src="http://www.modelclub.cn/assets/img/pro/index/post/6/1468.jpg" data-width="100%" />
        </section>
        <section style="width:100%; height:50px; text-align:center; margin-top:20px;" data-width="100%">
            <section style="width:80px; height:30px; border:solid 2px #1fb57b; display:inline-block; border-radius:15px; font-size:22px; color:#1fb57b; line-height:27px; font-weight:bold;">
                0<span data-original-title="" title="">1</span>
            </section>
        </section>
        <p style="font-size:1.1rem; color:#333333; text-align:center;">
            你用iPhone了吗?
        </p>
        <section style="text-align:center; font-size:0.8rem; color:#333; margin-top:20px;">
            <p>
                虽然长期以来，
            </p>
            <p>
                苹果似乎一直和游戏机市场不搭边，
            </p>
            <p>
                但iPod和iPhone的出现却改变了这种局面。
            </p>
        </section>
    </section>

</body>
</html>
