extends layout

block content
  
  div(style="border: 0px none; padding: 0px; position: relative;")
  
  div(style="padding:10px 10px;")
  
   div(style="font-size:86px; color:#00b0bb; font-weight:bold; text-align:center;")=title
  
   div(style="text-align:center;line-height: 8px;")
  
    div(style="display:inline-block; border-top:solid 4px #00b0bb; width:200px;")          
  
    div(style="display:inline-block; border-top:solid 4px #444; width:200px; margin-left:10px;")

  p
   br

  each content, i in contents

   div(style="width:100%; border: 0px none; padding: 0px; position: relative; padding-bottom:10px;")
   
    div(style="height:auto; overflow:hidden; padding-bottom:0px;")    
   
     div(style="width:100%;")

      if (content.desc)
        p(style="font-size:3rem; color:#736F6E; margin-left: 0px;margin-right: 0px;line-height: 2em;margin-top: 20px;margin-bottom: 0px;")=content.desc

      if (content.imageURL)
        img(style="width:100%; display:block;", src='http://eserviceimg.oss-cn-shanghai.aliyuncs.com/'+content.imageURL+'.jpg')         