doctype html
html
  head
    title= title    
    script(type='text/javascript' src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js")
    script(type='text/javascript' src="https://cdn.bootcss.com/jquery/2.1.1-rc2/jquery.js")
  body(style="padding: 0px; font: 14px;")
    block content
